{% extends "base.html" %} {% block title %} profile {% endblock title %} {% block content %}

<div class="row my-5 ">
    <div class="col-md-5">
        <div class="card-user">
            {% if profile.user_img %}
            <img src="{{ profile.user_img.url  }}" alt="Person" class="card__image"> {% else %}
            <img src="/static/avatar.jpg" alt="Person" class="card__image"> {% endif %}
            <p class="card__name text-info">
                {{ profile.username }}
            </p>

            {% if user.pk == profile.pk %}
            <div class="grid-container">

                <div class="grid-child-posts">
                    <a class="btn btn-info" href="{% url 'myapp:profile' user.pk %}?followers=true">{{ followers.count }} followers</a>
                </div>
                <div class="grid-child-followers">
                    <a class="btn btn-info ml-3
                    " href="{% url 'myapp:profile' user.pk %}?posts=true">{{ profile.posts.count }} posts</a>
                </div>
            </div>
            <a class="btn-user btn draw-border" href="{% url 'myapp:editprofile' user.pk %}">edit profile </a>
            <a class="btn-user btn draw-border" href="{% url 'myapp:requestsdetails' user.pk %}"><i class="fas fa-share-square"></i>requests </a> {% else %}
            <div class="grid-container">

                <div class="grid-child-posts">
                    <p class="p-1 text-center btn-info rounded-right rounded-left">{{ user_follows_count }} followers </p>
                </div>
                <div class="grid-child-followers">
                    <p class="p-1 text-center btn-info rounded-right rounded-left">{{ pofile.posts.count }}posts</p>
                </div>
            </div>




            {% if profile.id not in friends_ids and profile.id not in sent_requests_ids and profile.id not in recieved_requests_ids %}
            <a class="btn-user btn draw-border" href="{% url 'myapp:addfriend' profile.pk %}">follow </a> {% elif profile.id in sent_requests_ids %}
            <a class="btn-user btn draw-border text-danger" href="{% url 'myapp:removerequest' profile.pk %}"><i class="fas fa-times"></i> Request </a> {% elif profile.id in friends_ids %}
            <small class="text-info">you are friends <i class="far fa-smile-wink"></i> </small>
            <a class="btn-user btn draw-border test-danger" href="{% url 'myapp:removerequest' profile.pk %}">unfollow</a> {% elif profile.id in recieved_requests_ids %}
            <small class="text-info"> {{  profile.username }} wants to follow you ? <i class="fa fa-smile-o" aria-hidden="true"></i></small>
            <a class="btn-user btn draw-border" href="{% url 'myapp:confirmfriendship' profile.pk %}"><i class="fas fa-check"></i> confirm</a>
            <a class="btn-user btn draw-border text-danger" href="{% url 'myapp:removerequest' profile.pk %}"><i class="fas fa-times"></i> delete</a> {% endif %} {% endif %}
            <div>
                <small class="d-block my-2 text-info ">full name : {{ profile.first_name }} {{ profile.last_name }}</small>
                <small class="d-block my-2 text-info ">email : {{ profile.email }}</small>
                <small class="d-block my-2 text-info ">joined at  : {{ profile.date_joined|date:"l d-m-Y " }}</small>
            </div>
        </div>
    </div>
    {% if request.GET.followers %}
    <div class="col-md-7">
        <h3 class="text-info text-center">follows </h3>
        <div class="row">
            {% for follower in followers %} {% if follower.from_user.id != user.pk %}
            <div class="col-4 co-md-4 col-lg-3 follower-card" style="height: 200px;">
                <div class="card text-left text-decoration-none my-4">
                    <a href="{% url 'myapp:profile' follower.from_user.id  %}">
                      {% if follower.from_user.user_img %}
                      <img class="card-img-top " src="/media/{{ follower.from_user.user_img }}" height="100px" width="100px">
                      {% else %}
                      <img class="card-img-top " src="/static/avatar.jpg" alt=" " height="100px" width="100px">
                      {% endif %}
                    </a>
                    <div class="card-body ">
                        <small class="card-title ">{{ follower.from_user.username }}</small>
                    </div>
                </div>
            </div>
            {% endif %} {% if follower.to_user.id != user.pk %}
            <div class="col-6 co-md-4 col-lg-3 follower-card">
                <div class="card text-left text-decoration-none my-4">
                    <a href="{% url 'myapp:profile' follower.from_user.id  %}">
                      {% if  follower.to_user.user_img %}
                      <img class="card-img-top " src="/media/{{ follower.to_user.user_img }}" height="100px" width="100px">
                      {% else %}
                      <img class="card-img-top " src="/static/avatar.jpg" alt=" " height="100px" width="100px">
                      {% endif %}
                    </a>
                    <div class="card-body ">
                        <small class="card-title ">{{ follower.to_user.username }}</small>
                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
        {% else %}
        <div class="col-md-7">
            <h3 class="text-info text-center">posts </h3>
            {% for post in posts %}
            <div class="card text-left  my-4">
                {% if post.img %}
                <img class="card-img-top " src="{{ post.img.url }}" alt=" "> {% endif %}

                <div class="card-body ">
                    <h4 class="card-title text-info ">{{ post.title }}</h4>
                    <p class="card-text ">{{ post.content }}
                        <div>
                            <small class="text-warning">{{ post.created_at }}</small>
                        </div>
                    </p>
                    {% if profile.id == user.id %}
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'myapp:editpost' user.id post.id %}" class="btn btn-success mx-2"><i class="fas fa-edit"></i> edit</a>
                        <a href="{% url 'myapp:deletepost' user.id post.id %}" class="btn btn-danger"><i class="fas fa-times"></i> delete</a>
                    </div>
                    {% endif %}
                    <div class="like">
                        <a href="" class="stretched-link btn"><i class="far fa-heart"></i> 20</a>
                        <a href="{% url 'myapp:postcomments' post.id %}" class="stretched-link btn"><i class="far fa-comments"></i> {{ post.comments.count }}</a>
                    </div>
                    <div class="p-2 d-flex border-info border rounded">
                        <div class="border-right flex-grow-0 p-1 border-info"><i class="far fa-smile-beam text-warning fa-2x"></i></div>
                        <div class="flex-grow-1">
                            <form method="POST" action="{% url 'myapp:addcomment' post.id user.id %}" class="d-flex cooment-form">
                                {% csrf_token %}
                                <textarea type="text" name="comment" cols='60' class="form-control comment-content-{{ post.id }}" required placeholder="add comment"></textarea>
                                <button class="btn btn-info ">post</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% endif %}
        </div>
    </div>

    {% endblock content %}